
@{
    ViewBag.Title = "Duzenle";
}

@model ProductViewModel

<h2>Duzenle</h2>

<form class="form-horizontal" enctype="multipart/form-data" action="/Admin/Urun/Duzenle" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2">Ürün Adı :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Name" value="@Model.UrunBilgisi.Name" placeholder="Ürün Adı giriniz">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Fiyat :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="UnitPrice" value="@Model.UrunBilgisi.UnitPrice" placeholder="Fiyat Giriniz">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Stok Miktarı :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="UnitsInStock" value="@Model.UrunBilgisi.UnitsInStock" placeholder="Stok Adedi Giriniz">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Ürün Fotoğrafı :</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" name="Image">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Alt Kategori :</label>
        <div class="col-sm-10">
            <select class="form-control" name="SubCategoryID">
                @foreach (var item in Model.AltKategoriler)
                {
                    <option value="@item.ID">@item.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Aktif mi ? :</label>
        <div class="col-sm-10">
            <input type="checkbox" id="isactive" checked="@Model.UrunBilgisi.IsActive" name="IsActive">
        </div>
    </div>
    <input type="hidden" value="@Model.UrunBilgisi.ID" name="ID" />
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
    </div>
</form>


@section scriptlerim{
    <script>
        $('#isactive').change(function () {
            var ischeck = $(this).prop('checked');

            $(this).val(ischeck);
        })
    </script>
}




