
@{
    ViewBag.Title = "Details";
}
@model List<OrderDetail>

<div style="margin:20px 0 20px 0" class="col-sm-12">
    <span>Sipariş Kodu : @Model[0].OrderID </span> &nbsp;

    <a href="/Admin/Siparis/ConfirmOrder/@Model[0].OrderID">Onayla <i class="fas fa-check"></i></a>
    <a href="/Admin/Siparis/RejectOrder/@Model[0].OrderID">Reddet <i class="fas fa-circle"></i></a>
    @{ 
        decimal ToplamTutar = 0;
    }
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ürün Fotoğraf</th>
                <th>Ürün Adı</th>
                <th>Ürün Birim Fiyatı</th>
                <th>Ürün Miktarı</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.Product.ImagePath" style="display:block;" width="30" height="30"/>
                    </td>
                    <td>@item.Product.Name</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Quantity</td>
                </tr>

                ToplamTutar += (decimal)(item.Quantity * item.UnitPrice);
            }

        </tbody>
    </table>
    <span>Sipariş Toplam Tutarı : @ToplamTutar TL</span>

</div>
