
@{
    ViewBag.Title = "Duzenle";
}
@model SubCategory

<h2>Duzenle</h2>

<form class="form-horizontal" action="/Admin/AltKategori/Duzenle" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2">Alt Kategori Adı:</label>
        <div class="col-sm-10">
            @*<input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="Alt Kategori Adı giriniz">*@
            @Html.TextBoxFor(x => x.Name,new {@class="form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Açıklama:</label>
        <div class="col-sm-10">
            @*<input type="text" class="form-control" name="Description" value="@Model.Description" placeholder="Açıklama Giriniz">*@
            @Html.TextBoxFor(x=>x.Description,new {@class="form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Ana Kategori:</label>
        <div class="col-sm-10">
            <select name="CategoryID" class="form-control">
                @foreach (var item in ViewBag.AnaKategoriler)
                {
                    <option @if (item.ID == Model.CategoryID) {@Html.Raw("selected");} value="@item.ID">@item.Name</option>
                }

            </select>
        </div>
    </div>

    @Html.HiddenFor(x=>x.ID)

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
    </div>
</form>

