<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("4599 Yönetim Paneli", "Index", "Home", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Admin/Kategori/Index">Kategori Listele</a></li>
                    <li><a href="/Admin/AltKategori/Index">Alt Kategori Listele</a></li>
                    <li><a href="/Admin/Urun/Index">Urun Listele</a></li>
                    <li><a href="/Admin/Kullanici/Index">Kullanici Listele</a></li>
                    <li><a href="/Admin/Siparis/Index">Sipariş Listele</a></li>
                </ul>

                <ul style="margin-top:12px" class="pull-right navbar-nav">

                    @{
                        string ad = HttpContext.Current.User.Identity.Name;
                    }

                    @if (ad != null && ad != "")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle"  data-toggle="dropdown" href="#" id="loginUserInfo">Hoşgeldin @ad</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Admin/Kullanici/LogOut">Çıkış Yap <i class="glyphicon glyphicon-log-out"></i></a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li id="signinhref"><a href="#"  data-toggle="modal" data-target="#girisModal">Giriş Yap </a></li>
                    }


                </ul>

            </div>
        </div>
    </div>

    <div class="container body-content">


        @if (TempData["MessageData"] != null)
        {

            MessageTemplate mesajim = (MessageTemplate)TempData["MessageData"];
            string cls = "";

            if (mesajim.MessageTip == MessageType.Success)
            {
                cls = "alert-success";
            }
            else if (mesajim.MessageTip == MessageType.Warning)
            {
                cls = "alert-warning";
            }
            else
            {
                cls = "alert-danger";
            }

            <div class="row">
                <div class="col-md-12 col-lg-12 ">
                    <div class="alert @cls" id="PageAlertBox" data-duration="@mesajim.Duration">
                        @if (mesajim.Closeable)
                        {
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        }

                        @mesajim.Content
                    </div>
                </div>
            </div>
        }
        <!--Giriş Modal-->

        <div class="modal fade" id="girisModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Giriş Yapınız...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Email veya Kullanıcı Adı :</label>
                            <input id="userName" type="text" class="form-control" />
                            <label class="fade text-danger" id="usernameInfo"></label>
                        </div>

                        <div class="form-group">
                            <label>Şifre :</label>
                            <input id="pwd" type="password" class="form-control" />
                            <label class="fade text-danger" id="pwdInfo"></label>
                        </div>
                        <div class="form-group">
                            <button id="signinAdmin" type="button" class="btn btn-success btn-block">Giriş</button>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <!--Giriş Modal-->

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scriptlerim", false)
    <script>
        if ($('#PageAlertBox').length > 0) {

            var time = $('#PageAlertBox').attr("data-duration");

            if (time != null && time != undefined) {

                time = time * 1000; // süreyi saniye cinsine cevirdik.

                $('#PageAlertBox').fadeTo(time, 500).slideUp(500, function () {
                    $('#PageAlertBox').alert('close');
                });

            }
        }


        $('#signinAdmin').on('click', function () {
            debugger
            var kullaniciAdi = $('#userName').val();
            var sifre = $('#pwd').val();

            if (kullaniciAdi == "") {
                $('#usernameInfo').addClass('in');
                $('#usernameInfo').html('Kullanıcı adı veya email adresinizi girmelisiniz.')
            }

            if (sifre == "") {
                $('#pwdInfo').addClass('in');
                $('#pwdInfo').html('Şifre boş geçilemez')
            }

            var rtnUrl = "@ViewBag.ReturnUrl";
           

            if (kullaniciAdi != "" && sifre != "") {
                $.ajax({

                    url: '/Admin/Kullanici/Signin',
                    type: 'post',
                    data: { username: kullaniciAdi, password: sifre},
                    success: function (sonuc) {
                        
                        if (sonuc.islemSonuc) {
                            debugger
                            
                            $('#signinhref').html("");
                            $('#signinhref').addClass("dropdown")
                            $('#signinhref').append(`
                            <a class="dropdown-toggle"  data-toggle="dropdown" href="#" id="loginUserInfo">Hoşgeldin `+ sonuc.username +`</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Admin/Kullanici/LogOut">Çıkış Yap <i class="glyphicon glyphicon-log-out"></i></a>
                                </li>
                            </ul>`)
                           
                        
                            if (rtnUrl != "") {
                                debugger
                                window.location.href = rtnUrl;
                            }
                            else {
                                //$('#girisModal').modal('close')
                            }
                            
                           

                        }
                    }


                })
            }



        })


    </script>






</body>
</html>