
@{
    ViewBag.Title = "Index";
}
@model List<AppUser>
<h2>Kullanıcı Listesi</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Kullanıcı Adı</th>
            <th>Kullanıcı Fotoğraf</th>
            <th>Rolü</th>
            <th>Eklenme Tarihi</th>
            <th>Akitf mi ?</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.LastName</td>
            <td>@item.UserName</td>
            <td>
                <img width="50" height="50" src="@item.ImagePath"/>
            </td>
            <td>@item.Rol</td>
            <td>@item.CreatedDate</td>
            <td>@item.IsActive</td>
            <td>
                <a href="/Admin/Kullanici/Duzenle/@item.ID" data-toggle="tooltip" title="Düzenle"><i class="glyphicon glyphicon-edit text-warning"></i></a>
                <a href="/Admin/Kullanici/Sil/@item.ID" data-toggle="tooltip" title="Sil"><i class="glyphicon glyphicon-trash text-danger"></i></a>
            </td>
        </tr>
        }
        
    </tbody>
    
</table>

